<?xml version='1.0' encoding='utf-8'?>
<widget id="com.techstreet.salestracker" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>SalesTracker</name>
    <description>
        A sales person tracking app.
    </description>
    <author email="info@techstreet.in" href="http://techstreet.in">
        Techstreet Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
            <string>need location access to find things nearby</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
            <string>To scan barcodes</string>
        </edit-config>
        <icon height="180" src="icon-60@3x.png" width="180" />
        <splash src="Default@2x~universal~anyany.png" />
    </platform>
    <icon src="icon.png" />
    <splash src="splash.png" />
    <preference name="phonegap-version" value="cli-8.1.1" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="StatusBarBackgroundColor" value="#A9A9A9" />
    <preference name="DisallowOverscroll" value="true" />
    <plugin name="cordova-plugin-statusbar" spec="~2.4.2" />
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.2" />
    <plugin name="cordova-plugin-spinner" spec="~1.1.0" />
    <plugin name="cordova-plugin-network-information" spec="~2.0.1" />
    <plugin name="cordova-plugin-x-toast" spec="~2.7.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
    <plugin name="cordova-plugin-device" spec="~2.0.2" />
    <plugin name="cordova-plugin-camera" spec="~4.0.3" />
    <plugin name="cordova-plugin-media-capture" spec="~3.0.2" />
    <plugin name="cordova-plugin-geolocation" spec="~4.0.1" />
    <plugin name="cordova-plugin-nativegeocoder" spec="~3.2.1" />
    <plugin name="cordova-plugin-x-socialsharing" spec="~5.4.4" />
    <plugin name="cordova-plugin-app-version" spec="~0.1.9" />
    <plugin name="cordova-plugin-call-number" spec="~1.0.1" />
    <plugin name="cordova-plugin-request-location-accuracy" source="npm" />
    <plugin name="cordova.plugins.diagnostic" spec="~3.9.2" />
    <plugin name="cordova-plugin-uniquedeviceid" spec="~1.3.2" />
    <engine name="browser" spec="~5.0.4" />
</widget>
