/* Sales Tracker  - Start */
.app-version{
    /* position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%); */
    color: #F0F0F0;
}
.app-background{
    background: url(../img/background.jpg);
    background-size: cover;
}
.text-decoration-underline{
    text-decoration: underline;
}
.data-table th, .data-table td {
    white-space: nowrap;
}
.mt-12{
    margin-top: 12px !important;
}
.no-background-image{
    background-image: none !important;
}
.img-round{
    border-radius: 50%;
}
/* Sales Tracker  - End */
.preloader-block{
    display: block !important;
}
.preloader-none{
    display: none !important;
}
.bg-color-lightgray {
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.color-white{
    color: #ffffff !important;
}
.color-gray{
    color: gray !important;
}
.color-darkgray{
    color: #777;
}
.color-black{
    color: black !important;
}
.i-color-white{
    color: #ffffff;
}
.i-color-red{
    color: #f44336;
}
.color-red{
    color: #f44336 !important;
}
.color-green{
    color: #4caf50 !important;
}
.timeline-item-divider{
    background-color: #f44336 !important;
}
.font-16{
    font-size: 16px;
}
.social-login-button {
    position: relative;
    margin: 5px;
    padding: 0 21px 0 55px;
    line-height: 34px;
    font-size: 12px;
    color: #FFF;
    border: 1px solid #045dff;
}
.social-login-button:before {
    content: "";
    position: absolute;
    left: 0;
    width: 34px;
    height: 100%;
}
.social-login-facebook {
    background-color: #3b5998;
}
.social-login-facebook:before {
    background: url('../img/fb_icon.png') 10px 9px no-repeat;
    background-color: #fff;
}
.social-login-google {
    background: #4285f4;
}
.social-login-google:before {
    background: url('../img/google_icon.png') 10px 9px no-repeat;
    background-color: #fff;
}
.social-sepeartion{
    position: relative;
}
.social-sepeartion:before{
    left: 0;
    content: '';
    position: absolute;
    width: 45%;
    height: 1px;
    background-color: #ccc;
    top: 50%;
}
.social-sepeartion:after{
    right: 0;
    content: '';
    position: absolute;
    width: 45%;
    height: 1px;
    background-color: #ccc;
    top: 50%;
}
.no-margin-smartselect .page-content .list{ 
    margin: 0 !important;
}
.no-margin-smartselect .page-content .list ul:before{ 
    display: none !important;
}
.no-margin-smartselect .page-content .list ul:after{ 
    display: none !important;
}
.item-floating-label{
    font-size: 14px !important;
}
.block.passcode-input {
    position: relative;
    z-index: 5;
}
.block.passcode-numpad {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    max-width: none;
    z-index: 10;
}
#demo-numpad-inline {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    background: none;
    border-radius: 0 0 0 0;
    display: block;
    padding: 0 0 0 5px;
    margin: 0;
    width: 100%;
    height: 43px;
    color: #000;
    font-size: 17px;
    font-family: inherit;
    letter-spacing: 5px;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}
.popover{
    width: 200px !important;
}
.profile-img{
    border-radius: 50%;
}
.commentbar{
    width: 100%;
    position: relative;
}
.commentbar textarea{
    height: 24px;
}
.demo-facebook-card .card-footer {
    padding: 10px;
}
.card-content-caption{
    padding: 0 10px;
}
.card-content-action{
    padding: 0 10px;
    color: gray;
}
.no-box-shadow{
    box-shadow: none !important;
}